html
  head
    title!= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    link(rel='shortcut icon', href='/assets/img/ninja-white.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/semantic.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body
    #app!= content

  script(src='https://code.jquery.com/jquery-2.1.4.min.js', defer)
  script(src='/js/semantic.min.js', defer)
  script(src='/js/bundle.js', defer)
